html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

/*
Breakpointy
Mobil   0 - 639px
Tablet  640px - 1099px
PC      1100px a víc
*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #8B8B8B;
    background-color: #FAFAFA;
    font-weight: 300;
    margin: 0;
}

.happytravels {
    margin: 60px 0;
}

.section {
    text-align: center;
    padding: 0;
}



.section + .section {
    margin-top: 60px;
}



.section-inner {
    margin: 0 auto;
    max-width: 460px;
}



.logo {
    width: 350px;
}



.introduction {
    margin-top: 40px;
}



h1 {
    color: #000000;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
}


h1::after {
    content:"";
    background: #407BFF;
    height: 2px;
    width: 60px;
    margin: 10px auto 30px auto;
    display: block;
    border: 0;
}


.button {
    margin-top: 30px;
}


.button + .button {
    margin-top: 10px;
}

.button a {
    color: #FAFAFA;
    background-color: #407BFF;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    height: 40px;
    text-align: center;
    display: inline-block;
}



.button a:hover {
    background-color: #8B8B8B;
}

.header-section {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;
}

.motto-icons {
    margin-top: 30px;
    max-width: 460px;
}



.motto {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 6px #407BFF1F;
    padding: 20px;
    gap: 30px;
    border-radius: 10px;

}

.motto + .motto {
    margin-top: 15px;
}



.motto-text {
    font-size: 13px;
    font-weight: 300;
    flex-grow: 1;
    text-align: left;
}


.icons {
    width: 40px;
}


/* CSS bokem - zkouška znovu
@media screen and (min-width: 640px) {
    .icons {
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 1100px) {
    .intro {
        flex: 0 0 430px;
    } 
}
@media screen and (min-width: 1100px) {
    .section {
        max-width: 1040px;
        margin: 0 auto;
        display: flex;
        gap: 60px;
        text-align: left;
        padding: 0 80px;
    }
}

@media screen and (min-width: 640px) {
    .motto-text {
        text-align: center;
    }
}

@media screen and (min-width: 640px) {
    .motto + .motto {
        margin-top: 0;
    }
}
@media screen and (min-width: 640px) {
    .motto {
        padding: 40px 15px 20px 15px;
        display: block;
        text-align: center;
        flex: 0 0 33.33333%;
    }
}
@media screen and (min-width: 640px) {
    .motto-icons {
        display: flex;
        margin-top: 40px;
        justify-content: space-evenly;
        gap: 20px;
        max-width: 100%;
        padding: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1100px) {
    .motto-icons {
        margin: 0;
        justify-content: space-between;
        flex: 0 0 550px;
    }

}

@media screen and (min-width: 1100px) {
    .button {
        display: block;
    }
}
@media screen and (min-width: 640px) {
    .button {
        display: inline-block;
    }

    .button + .button {
        margin-left: 20px;
    }
}
@media screen and (min-width: 1100px) {
    h1::after {
        margin: 10px 0 30px 0;
    }
}
@media screen and (min-width: 640px) {
    .section + .section {
        margin-top: 80px;
    }
}

@media screen and (min-width: 640px) {
    .section-inner {
        max-width: 550px;
    }
}

@media screen and (min-width: 1100px) {
    .section-inner {
        margin: 0;
    }
}
@media screen and (min-width: 640px) {
    .logo {
        width: 400px;
    }
}

@media screen and (min-width: 1100px) {
    .logo {
        width: 425px;
    }
}

@media screen and (min-width: 1100px) {
    .introduction {
        max-width: 490px;
        order: -1;
    }
} 
*/